<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net452" />
  <package id="Microsoft.SqlServer.Scripting" version="11.0.2100.61" targetFramework="net452" />
  <package id="WPFCustomMessageBox" version="1.0.7" targetFramework="net452" />
</packages>